
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#/home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Dashboard</span>
                                </li>
                            </ul>
                           
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> Dashboard
                           
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        
                        
                        <!-- BEGIN DASHBOARD STATS 1-->
                        <div class="row mybox">
                        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            	<a class="dashboard-stat dashboard-stat-v2 blue" href="#/casebyme">
                                    <div class="visual">
                                        <i class="fa fa-arrow-circle-up"></i>
                                    </div>
                                    <div class="details myhead">
                                     <h3> Case by Me</h3>
                                    </div>
                                </a>
                                  
                            </div>
                        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            	  <a class="dashboard-stat dashboard-stat-v2 red" href="#/caseonme">
                                    <div class="visual">
                                       <i class="fa fa-arrow-circle-down"></i>
                                    </div> 
                                    <div class="details myhead">
                                        <h3> Case on Me	</h3>
                                    </div>
                                </a>
                                 
                            </div>
                            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 green" href="#/addcase">
                                    <div class="visual">
                                        <i class="fa fa-plus-circle"></i>
                                    </div>
                                    <div class="details myhead">
                                        <h3> Add a Case</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                               <a class="dashboard-stat dashboard-stat-v2 purple" href="#/requestmediator">
                                    <div class="visual">
                                         <i class="fa fa-user"></i>
                                    </div>
                                    <div class="details myhead">
                                        <h3> Request a Mediator</h3>
                                    </div>
                                </a>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                           <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-directions font-green hide"></i>
                                        <span class="caption-subject bold font-dark uppercase"> Industry News</span>
                                     </div>
                                     
                                </div>
                                <div class="portlet-body">
                                	<div class="mynews">
                                    <div class="my-title">
                                                        <h2 class="mt-content-title">One-Sided Arbitration Agreement Not Enforceable, Calif. Court Rules</h2>
                                                        <div class="mt-author-datetime font-grey-mint">01-Jun-2017</div>
                                                      </div>
                                                   <div class="clearfix"></div>
                                                    <div class="mt-content border-grey-steell1">
                                                        <a  target="_blank" href="https://www.shrm.org/resourcesandtools/legal-and-compliance/state-and-local-updates/pages/ca-court-report-one-sided-arbitration.aspx" class="btn btn-circle dark btn-outline">Read More</a>
                                                    </div>
                                      </div>
                                      <div class="mynews">
                                    <div class="my-title">
                                                        <h2 class="mt-content-title">“See You In Court” Or “See You Out Of Court” ?</h2>
                                                        <div class="mt-author-datetime font-grey-mint">20-Apr-2017</div>
                                                      </div>
                                                   <div class="clearfix"></div>
                                                    <div class="mt-content border-grey-steell1">
                                                        <a target="_blank" href="http://www.livelaw.in/see-court-see-court-burdened-judicial-system-can-adr-system-answer-part-iii/" class="btn btn-circle dark btn-outline">Read More</a>
                                                    </div>
                                      </div>
                                      <div class="mynews">
                                    <div class="my-title">
                                                        <h2 class="mt-content-title">Technology, the key to the future of dispute resolution</h2>
                                                        <div class="mt-author-datetime font-grey-mint"> 19-Mar-2017</div>
                                                      </div>
                                                   <div class="clearfix"></div>
                                                    <div class="mt-content border-grey-steell1">
                                                        <a target="_blank" href="https://iccwbo.org/media-wall/news-speeches/technology-key-future-dispute-resolution/" class="btn btn-circle dark btn-outline">Read More</a>
                                                    </div>
                                      </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-directions font-green hide"></i>
                                        <span class="caption-subject bold font-dark uppercase"> Helpful Resources</span>
                                     </div>
                                     
                                </div>
                                <div class="portlet-body">
                                	<div class="mynews">
                                    <div class="my-title">
                                                        <h2 class="mt-content-title">The Right To Information Act, 2005</h2>
                                                     </div>
                                                   <div class="clearfix"></div>
                                                    <div class="mt-content border-grey-steell">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. </p>
                                                       <a href="javascript:;" class="btn btn-circle dark btn-outline"> <span class="fa fa-file-pdf-o"></span> Download PDF</a>  
                                                    </div>
                                      </div>
                                      <div class="mynews">
                                    <div class="my-title">
                                                        <h2 class="mt-content-title">The Recovery Of Debts Due To Banks And Financial Institutions Act, 1993 </h2>
                                                        <div class="mt-author-datetime font-grey-mint">28 February 2014 : 10:15 AM</div>
                                                        
                                                    </div>
                                                   <div class="clearfix"></div>
                                                    <div class="mt-content border-grey-steell">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                                            iaculis eu, onsectetur adipiscing elit finibus eu ex.</p>
                                                        <a href="javascript:;" class="btn btn-circle dark btn-outline"> <span class="fa fa-file-pdf-o"></span> Download PDF</a>  
                                                    </div>
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                        <div class="clearfix"></div>
                        <!-- END DASHBOARD STATS 1-->
                        