  
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>FAQ's</span>
                                </li>
                            </ul>
                           
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> Offer Acceptence Page Heading
                            <small>Offer Acceptence Details</small>
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <!-- BEGIN DASHBOARD STATS 1-->
                        <div class="">
                        	<p>Lorem ipsum dolor sit amet, sea posse semper ne, ea voluptua suavitate pro, ea sed nisl iudico aliquam. Has case eruditi an, ut audiam appareat expetendis usu. Vis te maiorum voluptatibus. Modus corpora contentiones eu per, civibus nominavi temporibus pri an, nam nibh viderer posidonium te. Eu graeci temporibus disputando est.
                        		Sumo adhuc eam ut. Ut quo esse feugiat maiorum, sea amet partem epicuri cu. Et per alienum percipit, convenire petentium id eum. Et quo impedit petentium mnesarchum, adipisci vituperata ex per. Eum mundi suscipit theophrastus id. Melius regione signiferumque nec ut.</p>
                        	<div class="myspacer"></div>
                        	
                       
                        </div>
                        <div class="clearfix"></div>
                        <!-- END DASHBOARD STATS 1-->
                        