<!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#/home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Add New Case</span>
                                </li>
                            </ul>
                           
                        </div>
                            <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> Add New Case</h1>
                        <p>Lorem ipsum dolor sit amet, ei porro ullamcorper quo. Movet audire molestie pro ei, dictas volutpat eu vim. Mea et amet noster, epicuri percipit ex per. Vis harum paulo cu, legere officiis vulputate eum ad. Phaedrum singulis no nam, ex mel feugait dignissim gubergren.</p>
                        <!-- END PAGE TITLE-->
                          
                        <div class="row mybox">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addcase">
                                 <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-plus-circle"></i>Add New Case </div> 
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"> </a>
                                            
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        
                                       
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                       	<div class="form-group">
                                                <label class=" col-lg-3 col-md-3 control-label">Select Case Type</label>
                                              <div class="col-md-9 col-lg-9" >
                                                    <select class="form-control" id="caseTypeId">
                                                    	<option value="">--Select Case Type--</option>
                                                        <option value="1">Banking</option>
                                                        <option value="2">Civil Law</option>
                                                        <option value="3">Consumer Matter</option>
                                                        <option value="4">Criminal Case</option>
                                                        <option value="5">Matrimonial Case</option>
                                                        <option value="6">Property Matter</option>
                                                        <option value="7">Rental Matter</option>
                                                        <option value="8">Others</option>
                                                       </select>
                                                </div>
                                                <label class=" col-lg-3 col-md-3 control-label">Are you claiming or vowing money</label>
                                              <div class="col-md-9 col-lg-9" >
                                                    <select class="form-control" id="settlementTypeId">
                                                    	<option value="">--Select settlement Type--</option>
                                                        <option value="1">I am Claiming money to the other party</option>
                                                        <option value="2">I Vow money to the other party</option>
                                                       </select>
                                                </div>
                                                <label class="col-md-3 control-label">Case Title</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="caseTitle"   placeholder="Enter Title">
                                                </div>
                                                <label class="col-md-3 control-label">Case Description</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="A brief note" id="caseDescription"></textarea>
                                                </div>
                                                <label class="col-md-3 control-label">Upload Files</label>
                                                <div class="col-md-9 margin-bottom-10">
                                                    <input type="file" name="files[]" multiple="" id="file"> </span>
                                        <button type="submit" class="btn blue start">
                                            <i class="fa fa-upload"></i>
                                            <span class="upbut"> Start upload </span>
                                        </button>
                                                </div>
                                                 <label class="col-md-12 control-label">Provide The Particular Of Other Party</label>
                                                <label class="col-md-3 control-label">Address</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="Enter Address" id="address"></textarea>
                                                </div>
                                                
                                               
                                                <label class="col-md-3 control-label">Person Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Enter Name" id="otherPartyName">
                                                </div>
                                                <label class="col-md-3 control-label">Mobile Number</label>
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control" placeholder="Enter Number" id="otherPartyMobile">
                                                </div>
                                                <label class="col-md-3 control-label">Email Address</label>
                                                <div class="col-md-9">
                                                    <input type="email" class="form-control" placeholder="Enter Email" id="otherPartyEmail">
                                                </div>
                                                <label class="col-md-3 control-label">Offer Amount</label>
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control" placeholder="Amount in USD" id="offerAmount">
                                                </div>
                                                <label class="col-md-3 control-label">Message</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Enter some message " id="negoMessage">
                                                </div>
                                                <label class="col-md-3 control-label"></label>
                                                <div class="col-md-9 margin-top-20">
                                                   <button type="submit" id="addCaseButton" ng-click="addCase()" class="btn btn-large green"><i class="fa fa-paper-plane"></i>
                                            <span class="upbut"> Add Case </span></button>
                                                </div>
                                                 
                                            </div>
                                       	</div>
                                      
                                     
                                       
                                       
                                         
                                            
                                    </div>
                                </div>
                            </div>






                           
                            
                        </div> <!-- END SECOND BOX-->
                        
                        <div class="clearfix"></div>
                        <!-- END DASHBOARD STATS 1-->
                        
                       