 <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#/home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Case Details</span>
                                </li>
                            </ul>
                           
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <div class="bak"> <a href="#/home" class="btn btn-lg  m-icon-big"> <i class="m-icon-big-swapleft m-icon-white"></i> Back To Dashboard
                          
                        </a></div>
                        
                        
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <!-- BEGIN DASHBOARD STATS 1-->
                        <div class="cased">
                        <div class="row mybox casedetailshead">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            	<h3 class=""> <span class="fa fa-file-text"></span>Credit Card Settlement - </h3> <h4 class="casenum">#3434</h4>
                       </div>
                        </div>
                          <div class="row mybox casedetailshead "> 
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Case By </div>
  								<div class="lableright">Bhaskaran</div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Start Date </div>
  								<div class="lableright">05/05/2017</div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Mediator Name </div>
  								<div class="lableright"> Not Requested</div>
                           		</div>
                           	</div>
                           	</div>
                           	
                           	
                          </div>
                          <div class="row mybox casedetailshead "> 
                         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Case On </div>
  								<div class="lableright">Hemanth</div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">End Date </div>
  								<div class="lableright">N/A</div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Case Status</div>
  								<div class="lableright"> In Progress</div>
                           		</div>
                           	</div>
                           	</div>
                           	
                           	
                          </div>
                          
                          </div>
                          
                          <div class="caseconversation">
                       		<div class="row">
                       			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       				<h4> Case Discussion</h4>
                       			</div>
                       			
                       		</div>
                       	<div class="mt-element-step">
                                             <div class="row step-line">
                                                
                                                <div class="col-md-4 mt-step-col first done active">
                                                    <div class="mt-step-number bg-dark font-grey">1</div>
                                                    <div class="mt-step-title uppercase font-grey-cascade">Opportunity </div>
                                                    <div class="mt-step-content font-grey-cascade">Details/Description</div>
                                                </div>
                                                <div class="col-md-4 mt-step-col ">
                                                    <div class="mt-step-number bg-dark font-grey">2</div>
                                                    <div class="mt-step-title uppercase font-grey-cascade">Opportunity</div>
                                                    <div class="mt-step-content font-grey-cascade">Details/Description</div>
                                                </div>
                                                <div class="col-md-4 mt-step-col last">
                                                    <div class="mt-step-number bg-dark font-grey">3</div>
                                                    <div class="mt-step-title uppercase font-grey-cascade">Final Opportunity</div>
                                                    <div class="mt-step-content font-grey-cascade">Details/Description</div>
                                                </div>
                                                
                                            <br/>
                                            <br/>
                                           
                                            
                                            
                                        </div>
                       		
                       		
                          	<div class="row">
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 1 0f 3 Atempts</h5>
                       				
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent On </div>
  								<div class="lableright">03-02-2017 </div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent By </div>
  								<div class="lableright">Bhaskaran</div>
                           		</div>
                           	</div>
                           	
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> $5000</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> I'm interested to settle this case for $5000. Are you interested?</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 1 0f 3 Atempts Response</h5>
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Replied On </div>
  								<div class="lableright">03-02-2017 </div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Response By </div>
  								<div class="lableright">Hemanth</div>
                           		</div>
                           	</div>
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> $4000</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> I'm Proposing $4000.</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       		</div>
                       		<div class="line row"></div>
                       		<div class="row">
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 2 0f 3 Atempts</h5>
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent On </div>
  								<div class="lableright">03-02-2017 </div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent By </div>
  								<div class="lableright">Bhaskaran</div>
                           		</div>
                           	</div>
                           	
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> $4500</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> I can't accept this price. The best I can offer is $4500</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 2 0f 3 Atempts Response</h5>
                       				
                           	
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Response By </div>
  								<div class="lableright">Hemanth</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Please select your response </div>
  								<div class="lableright"> 
  									<a href="#/offeraccepted" class="btn  green-stripe green"> Accept <i class="fa fa-thumbs-up"></i> </a>
  									<a href="#/finalofferarbitration" class="btn  red"> Counter Offer <i class="fa fa-comment"></i> </a> <br />
  								 </div>
                           		</div>
                           	</div>
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> 
  									 <input type="file" name="files[]" multiple=""> </span>
                                        <button type="submit" class="btn blue start">
                                            <i class="fa fa-upload"></i>
                                            <span class="upbut"> Start upload </span>
                                        </button></div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> <div class="input-icon">
                                                                    <i class="fa fa-usd"></i>
                                                                    <input type="text" class="form-control " placeholder="Your Offer?"> </div></div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> <div class="input-icon">
                                                                    <i class="fa fa-envelope"></i>
                                                                    <textarea> </textarea> </div>
                                                                    <div class="form-actions right">
                                          
                                            <button type="submit" class="btn green">Submit</button>
                                        </div>
                                                                    </div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       		
                       		
                       		
                       		
                       		</div>
                          
                          </div>
                        <div class="clearfix"></div>
                        <!-- END DASHBOARD STATS 1-->
                        
                       
                        