 <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#/home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Case Details</span>
                                </li>
                            </ul>
                           
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <div class="bak"> <a href="#/home" class="btn btn-lg  m-icon-big"> <i class="m-icon-big-swapleft m-icon-white"></i> Back To Dashboard
                          
                        </a></div>
                        
                        
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <!-- BEGIN DASHBOARD STATS 1-->
                        <div class="cased">
                        <div class="row mybox casedetailshead">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            	<h3 class=""> <span class="fa fa-file-text"></span><span id="caseTitle"></span> - </h3> <h4 class="casenum">#<span id="caseId"></span></h4>
                       </div>
                        </div>
                          <div class="row mybox casedetailshead "> 
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Case By </div>
  								<div class="lableright"><span id="caseBy"></span></div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Start Date </div>
  								<div class="lableright"><span id="startDate"></span></div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Mediator Name </div>
  								<div class="lableright"> <span id="mediatorName"></span></div>
                           		</div>
                           	</div>
                           	</div>
                           	
                           	
                          </div>
                          <div class="row mybox casedetailshead "> 
                         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Case On </div>
  								<div class="lableright"><span id="caseOn"></span></div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">End Date </div>
  								<div class="lableright">N/A</div>
                           		</div>
                           	</div>
                           	</div>
                           	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Case Status</div>
  								<div class="lableright"> <span id="caseStatus"></span></div>
                           		</div>
                           	</div>
                           	</div>
                           	
                           	
                          </div>
                          
                          </div>
                          
                          <div class="caseconversation">
                       		<div class="row">
                       			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       				<h4> Case Discussion</h4>
                       			</div>
                       			
                       		</div>
                       	<div class="mt-element-step">
                                             <div class="row step-line">
                                                
                                                <div class="col-md-4 mt-step-col first done active">
                                                    <div class="mt-step-number bg-dark font-grey">1</div>
                                                    <div class="mt-step-title uppercase font-grey-cascade">Opportunity </div>
                                                    <div class="mt-step-content font-grey-cascade">Details/Description</div>
                                                </div>
                                                <div class="col-md-4 mt-step-col ">
                                                    <div class="mt-step-number bg-dark font-grey">2</div>
                                                    <div class="mt-step-title uppercase font-grey-cascade">Opportunity</div>
                                                    <div class="mt-step-content font-grey-cascade">Details/Description</div>
                                                </div>
                                                <div class="col-md-4 mt-step-col last">
                                                    <div class="mt-step-number bg-dark font-grey">3</div>
                                                    <div class="mt-step-title uppercase font-grey-cascade">Final Opportunity</div>
                                                    <div class="mt-step-content font-grey-cascade">Details/Description</div>
                                                </div>
                                                
                                            <br/>
                                            <br/>
                                           
                                            
                                            
                                        </div>
                       		
                       	
                          
                          </div>
                        <div class="clearfix"></div>
                        <div class="btn-toolbar" style="width: auto;">
                                                                
                                                            <div class="btn-group btn-group-lg btn-group-solid margin-bottom-20" >
                                                                    
                                                                   <!--  <button type="button" class="btn green"><i class="fa fa-comment"></i>Counter Offer</button> -->
                                                                   
                                                                </div></div>
                                                                
                            
                            <div>
                            	<div class="mytable tabDiv">
                           	
                           		<div>
  								<div class="lableright"> <div class="input-icon">
                                                                    <i class="fa fa-usd"></i>
                                                                    <input type="number" class="form-control " id="offerAmount" placeholder="Your Offer?"> </div></div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
  								<div class="lableright"> <div class="input-icon">
                                                                    <i class="fa fa-envelope"></i>
                                                                    <textarea id="negoMessage" placeholder="Type Some Message" > </textarea> </div>
                                                                    <div class="form-actions right">
                                          
                                           <div class="btn-group btn-group-lg btn-group-solid margin-bottom-20" >
                                               <button type="button" class="btn red" ><i class="fa fa-thumbs-up"></i> Accept Offer</button>
                                               <button type="button" class="btn green" ng-click="submitOffer()">Submit Offer</button>
                                                 <button type="button" class="btn blue">Final Offer Arbitration</button></div>
                                        </div>
                                                                    </div>
                           		</div>
                           	</div>
                           	                                     
                              </div>   
                        <div class="row">
                    	<!-- 1st party --> 
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="1stParty">
                       				<h5 class="attempt"> 1 0f 3 Atempts</h5>
                       				
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent On </div>
  								<div class="lableright" ng-bind="sentDate1">{{sentDate1}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent By </div>
  								<div class="lableright">{{sentBy1}}</div>
                           		</div>
                           	</div>
                           	
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> {{offerAmt1}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> {{offerMsg1}}</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       			<!-- 2nd party response -->
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 1 0f 3 Atempts Response</h5>
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Replied On </div>
  								<div class="lableright">{{replyDate1}} </div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Response By </div>
  								<div class="lableright">{{replyBy1}}</div>
                           		</div>
                           	</div>
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright">  {{counterOfferAmt1}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> {{counterOfferMsg1}}</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       		</div>
      
      
      <div class="line row"></div>
                          <div class="row">
                    	<!-- 1st party --> 
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="1stParty">
                       				<h5 class="attempt"> 2 0f 3 Atempts</h5>
                       				
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent On </div>
  								<div class="lableright">{{sentDate2}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent By </div>
  								<div class="lableright">{{sentBy2}}</div>
                           		</div>
                           	</div>
                           	
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> {{offerAmt2}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> {{offerMsg2}}</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       			<!-- 2nd party response -->
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 2 0f 3 Atempts Response</h5>
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Replied On </div>
  								<div class="lableright">{{replyDate2}} </div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Response By </div>
  								<div class="lableright">{{replyBy2}}</div>
                           		</div>
                           	</div>
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright">  {{counterOfferAmt2}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> {{counterOfferMsg2}}</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       		</div>
      
                     <div class="line row"></div>     
                             <div class="row">
                    	<!-- 1st party --> 
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="1stParty">
                       				<h5 class="attempt"> 3 0f 3 Atempts</h5>
                       				
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent On </div>
  								<div class="lableright">{{sentDate3}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Sent By </div>
  								<div class="lableright">{{sentBy3}}</div>
                           		</div>
                           	</div>
                           	
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright"> {{offerAmt3}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> {{offerMsg3}}</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       			<!-- 2nd party response -->
                       			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                       				<h5 class="attempt"> 3 0f 3 Atempts Response</h5>
                       				
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Replied On </div>
  								<div class="lableright">{{replyDate3}} </div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft">Response By </div>
  								<div class="lableright">{{replyBy3}}</div>
                           		</div>
                           	</div>
                           		<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Files </div>
  								<div class="lableright"> N/A</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Amount </div>
  								<div class="lableright">  {{counterOfferAmt3}}</div>
                           		</div>
                           	</div>
                           	<div class="mytable tabDiv">
                           		<div>
                           		<div class="lableleft"> Message </div>
  								<div class="lableright"> {{counterOfferMsg3}}</div>
                           		</div>
                           	</div>
                           	
                       			</div>
                       		</div>
      
      
      <div class="line row"></div>
                        
                                                       
                                            </div>                   
                        <!-- END DASHBOARD STATS 1-->
                        
                       
                        