 <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#/home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Case by Me</span>
                                </li>
                            </ul>
                           
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> Case by Me
                         
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <!-- BEGIN DASHBOARD STATS 1-->
                           <div class="row mybox">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                                    <div class="visual">
                                        <i class="fa fa-arrow-circle-up"></i>
                                    </div>
                                    <div class="details myhead">
                                     <h3> Case by Me</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                 <a class="dashboard-stat dashboard-stat-v2 red" href="#/caseonme">
                                    <div class="visual">
                                          <i class="fa fa-arrow-circle-down"></i>
                                    </div> 
                                    <div class="details myhead">
                                        <h3> Case on Me	</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                 <a class="dashboard-stat dashboard-stat-v2 green" href="#/addcase">
                                    <div class="visual">
                                        <i class="fa fa-plus-circle"></i>
                                    </div>
                                    <div class="details myhead">
                                        <h3> Add a Case</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                  <a class="dashboard-stat dashboard-stat-v2 purple" href="#/requestmediator">
                                    <div class="visual">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="details myhead">
                                        <h3> Request a Mediator</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row mybox">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-arrow-circle-up"></i> <strong>Case by Me:</strong> Status Details</div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"> </a>
                                            
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tabbable-custom nav-justified">
                                            <ul class="nav nav-tabs nav-justified">
                                                <li class="active">
                                                    <a href="#tab_1_1_1"  target="_self" data-toggle="tab">In Progress </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1_1_2"  target="_self" data-toggle="tab"> Settled </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1_1_3"  target="_self" data-toggle="tab"> Withdrawn </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1_1_1">
                                                    <div class="row">
                                                    	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"> 
                                                    	<div class="mt-widget-3">
                                                <div class="mt-head bg-blue">
                                                    
                                                    <div class="mt-head-desc"> <h3> Property Share Issue</h3></div>
                                                     <div class="mt-head-desc"> Melissa Dombro</div>
                                                     <div class="mt-head-desc"> #9873</div>
                                                    
                                                    <div class="mt-head-button">
                                                        <a href="#/casedetails"><button type="button" class="btn btn-circle btn-outline white btn-sm">View Details</button></a>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                                    	</div>
                                                    
                                                    	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"> 
                                                    			<div class="mt-widget-3">
                                                <div class="mt-head bg-blue">
                                                    
                                                    <div class="mt-head-desc"> <h3> Property Share Issue</h3></div>
                                                     <div class="mt-head-desc"> Justin Sinclair</div>
                                                     <div class="mt-head-desc"> #9475</div>
                                                    
                                                    <div class="mt-head-button">
                                                          <a href="#/casedetails"><button type="button" class="btn btn-circle btn-outline white btn-sm">View Details</button></a>
                                                    </div>
                                                </div>
                                                  <div class="mt-body-actions-icons">
                                                  
                                                </div>
                                            </div>
                                                    	</div>
                                                    
                                                    </div> 
                                                    
                                            </div>
                                                <div class="tab-pane" id="tab_1_1_2">
                                                	       <div class="row">
                                                  		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"> 
                                                    	<div class="mt-widget-3">
                                                <div class="mt-head bg-blue">
                                                    
                                                    <div class="mt-head-desc"> <h3>Rental Charges</h3></div>
                                                     <div class="mt-head-desc"> Jane Behrends</div>
                                                     <div class="mt-head-desc"> #9890</div>
                                                    
                                                    
                                                    <div class="mt-head-button">
                                                          <a href="#/casedetails"><button type="button" class="btn btn-circle btn-outline white btn-sm">View Details</button></a>
                                                    </div>
                                                </div>
                                                  
                                            </div>
                                                    	</div>
                                                  </div>
                                                   
                                                </div>
                                                <div class="tab-pane" id="tab_1_1_3">
                                            <h3> No case under this status</h3>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                           
                            
                        </div> <!-- END SECOND BOX-->
                        
                        <div class="clearfix"></div>
                        <!-- END DASHBOARD STATS 1-->