 <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#/index">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Request Mediator</span>
                                </li>
                            </ul>
                           
                        </div>
                       
                 
                             <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> Request Mediator</h1>
                        <p>Lorem ipsum dolor sit amet, ei porro ullamcorper quo. Movet audire molestie pro ei, dictas volutpat eu vim. Mea et amet noster, epicuri percipit ex per. Vis harum paulo cu, legere officiis vulputate eum ad. Phaedrum singulis no nam, ex mel feugait dignissim gubergren.</p>
                        <!-- END PAGE TITLE-->
                        
                        <div style=" padding: 10px;"><a  href="#/selectmediators"> selectmediators</a> </div>
                        
                        <div class="row mybox">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reqm">
                                 <div class="portlet box purple">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-user"></i>Request a Mediator </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"> </a>
                                            
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                       	<div class="form-group">
                                                <label class=" col-lg-3 col-md-3 control-label">Select Case Type</label>
                                              <div class="col-md-9 col-lg-9" >
                                                    <select class="form-control">
                                                    	<option>--Select Case Type--</option>
                                                        <option>Banking</option>
                                                        <option>Civil Law</option>
                                                        <option>Consumer Matter</option>
                                                        <option>Criminal Case</option>
                                                        <option>Matrimonial Case</option>
                                                        <option>Property Matter</option>
                                                        <option>Rental Matter</option>
                                                        <option>Others</option>
                                                       </select>
                                                </div>
                                                <label class="col-md-3 control-label">Case Number</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" disabled="" placeholder="#39474">
                                                </div>
                                                <label class="col-md-3 control-label">Case Description</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="A brief note" ></textarea>
                                                </div>
                                                <label class="col-md-3 control-label">Upload Files</label>
                                                <div class="col-md-9 margin-bottom-10">
                                                    <input type="file" name="files[]" multiple=""> </span>
                                        <button type="submit" class="btn blue start">
                                            <i class="fa fa-upload"></i>
                                            <span class="upbut"> Start upload </span>
                                        </button>
                                                </div>
                                                <label class="col-md-3 control-label">Address</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="Enter Address" ></textarea>
                                                </div>
                                                
                                                <label class="col-md-3 control-label"></label>
                                                <div class="col-md-9 margin-top-20">
                                                   <button type="submit" class="btn btn-large purple"><i class="fa fa-paper-plane"></i>
                                            <span class="upbut"> Submit Your Request </span></button>
                                                </div>
                                                 
                                            </div>
                                       	</div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                           
                            
                        </div> <!-- END SECOND BOX-->
                        
                        <div class="clearfix"></div>
                        <!-- END DASHBOARD STATS 1-->
                        