<div ng-controller="expenseMasterCtrl" class="page-content">
<div class="container">
  <div class="breadcrumbs"><h1>Expense Master</h1></div>
  <input type="text" ng-model="expenseType" id="expenseType" class="form-control"  placeholder="Expense Master" style="width: 300px;display: inline-block;"/>
  <button type="submit"  ng-click="saveExpenseMaster()" class="btn btn-default" style="width: 100px;display: inline-block;">Add</button>       
  <span id="expenseMasterData"></span>
 
</div>

</div>

