<div ng-controller="hallTicketCtrl" class="page-content">
<div class="container">
  <div class="breadcrumbs"><h1>Hall Ticket</h1></div>
    <select class="form-control" ng-model="examinationId"  id="examinationId"  ng-options="item as item[1] for item in examinations track by item[3]"  style="width: 180px;display: inline-block;">
            <option value="">--Select Examination--</option>
    </select> 
    Class <input type="text" ng-model="schoolClassSection" ng-click="resetMarksheetScreen()" id="schoolClassSection" class="form-control"  placeholder="Start Typing..." style="width: 300px;display: inline-block;"/>
    
     <br/><br/>
  <span id="hallTicketData"></span>
 
</div>
</div>

