<div ng-controller="marksEntryController" class="page-content">
<div class="container">
  <div class="breadcrumbs"><h1>Marks Entry</h1></div>
    <select class="form-control" ng-model="examinationId"  id="examinationId"  ng-options="item as item[1] for item in examinations track by item[3]"  style="width: 180px;display: inline-block;">
            <option value="">--Select Examination--</option>
    </select> 
   Class <input type="text" ng-model="schoolClassSection" ng-click="resetClassSectionData()" id="schoolClassSection" class="form-control"  placeholder="Start Typing..." style="width: 300px;display: inline-block;"/>
    
     <br/><br/>
  <span id="studentDataForMarksEntry"></span>
  
  <div id="marksEntryModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b><span id="marksEntryModalHeader"></span></b></h4>
      </div>
      <div class="modal-body">
        <span id="marksEntryModalData"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
 
</div>
</div>

